{% include template-start.liquid %}

<main class="page__content" role="main">
  <section class="article">
    <h1 class="article__title">{{ page.title }}</h1>

    <section class="article__content">
      {{ content }}
    </section>
  </section>
</main>

{% include template-end.liquid %}
