    <footer role="contentinfo">
        <p>KoBoToolbox at the Harvard Humanitarian Initiative</p>
        <p>14 Story St, Second floor, Cambridge, MA 02138</p>
        <p>
            <a href="{{ site.baseurl }}/terms">Terms of Service</a>
            <a href="{{ site.baseurl }}/privacy">Privacy Policy</a>
        </p>
    </footer>
</body>
</html>
