* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  color: #333847;
}

body {
  min-height: 100%;
  background: white;
  padding: 0;
  margin: 0;
}

html, body, input, textarea, select, button {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #259af4;
  text-decoration: none;
  border-bottom: 1px dotted #259af4;
}

a:hover {
  border-bottom-style: solid;
}

a:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

p,
blockquote {
  margin: 1.5rem 0;
}

p:first-child {
  margin-top: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted currentColor;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

blockquote {
  padding-left: 0.5rem;
  border-left: 2px dotted #565e76;
}

table {
  border: 1px dotted currentColor;
  border-spacing: 0;
  border-collapse: collapse;
}
table tr th {
  font-weight: bold;
}
table tr th,
table tr td {
  border: 1px dotted currentColor;
  padding: 0.5rem;
}
table thead tr th {
  border-style: solid;
}

pre {
  overflow-x: auto;
}

@media screen and (max-width: 799px) {
  .page__content {
    border-top: 0.5rem solid #333847;
  }
}
@media screen and (min-width: 800px) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .page__side {
    width: 25%;
  }

  .page__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 60rem;
  }
}
.side {
  border-right: 1px solid currentColor;
}

.side__banner {
  background-color: #333847;
  height: 4.375rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
}
.side__banner > a {
  display: block;
  height: 2.5rem;
  border-bottom: none;
}
.side__banner svg {
  height: 2.5rem;
}

.side__navigation {
  padding: 1.5rem;
}
.side__navigation h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.side__navigation ul {
  margin: 1rem 0;
  padding-left: 1rem;
}

.side__footer {
  padding: 1.5rem;
}

.links-list__item.links-list__item--active a {
  border-bottom-style: solid;
}

.article {
  padding: 2.5rem;
}

.article__title {
  margin: 0 0 1.5rem;
}

.article__content h1::before,
.article__content h2::before,
.article__content h3::before,
.article__content h4::before {
  color: #979fb4;
}
.article__content h1::before {
  content: "# ";
}
.article__content h2::before {
  content: "## ";
}
.article__content h3::before {
  content: "### ";
}
.article__content h4::before {
  content: "#### ";
}
.article__content a code {
  color: #9ed2fa;
}

.highlighter-rouge table td {
  padding: 0.25em;
}

.highlighter-rouge table pre {
  margin: 0;
}

.highlighter-rouge pre {
  margin: 0;
}

.highlighter-rouge {
  padding: 0 0.25em;
  border-radius: 0.25em;
  font-size: 0.9em;
}

div.highlighter-rouge {
  padding: 0.5em;
}

.highlighter-rouge,
.highlighter-rouge .w {
  color: white;
  background-color: #333847;
}

.highlighter-rouge .err {
  color: #333847;
  background-color: #ffd6dc;
}

.highlighter-rouge .c,
.highlighter-rouge .cd,
.highlighter-rouge .cm,
.highlighter-rouge .c1,
.highlighter-rouge .cs {
  color: #979fb4;
}

.highlighter-rouge .cp {
  color: white;
}

.highlighter-rouge .nt {
  color: white;
}

.highlighter-rouge .dl {
  color: #979fb4;
}

.highlighter-rouge .o,
.highlighter-rouge .ow {
  color: #979fb4;
}

.highlighter-rouge .p,
.highlighter-rouge .pi {
  color: #979fb4;
}

.highlighter-rouge .gi {
  color: #22b0c3;
}

.highlighter-rouge .gd {
  color: #ffd6dc;
}

.highlighter-rouge .gh {
  color: #3da5f5;
  background-color: #333847;
  font-weight: bold;
}

.highlighter-rouge .k,
.highlighter-rouge .kn,
.highlighter-rouge .kp,
.highlighter-rouge .kr,
.highlighter-rouge .kv {
  color: #3da5f5;
}

.highlighter-rouge .kc {
  color: #5cc8d6;
}

.highlighter-rouge .kt {
  color: #5cc8d6;
}

.highlighter-rouge .kd {
  color: #5cc8d6;
}

.highlighter-rouge .s,
.highlighter-rouge .sb,
.highlighter-rouge .sc,
.highlighter-rouge .sd,
.highlighter-rouge .s2,
.highlighter-rouge .sh,
.highlighter-rouge .sx,
.highlighter-rouge .s1 {
  color: #5cc8d6;
}

.highlighter-rouge .sr {
  color: #5cc8d6;
}

.highlighter-rouge .si {
  color: #5cc8d6;
}

.highlighter-rouge .se {
  color: #5cc8d6;
}

.highlighter-rouge .nn {
  color: white;
}

.highlighter-rouge .nc {
  color: white;
}

.highlighter-rouge .no {
  color: white;
}

.highlighter-rouge .na {
  color: #3da5f5;
}

.highlighter-rouge .m,
.highlighter-rouge .mf,
.highlighter-rouge .mh,
.highlighter-rouge .mi,
.highlighter-rouge .il,
.highlighter-rouge .mo,
.highlighter-rouge .mb,
.highlighter-rouge .mx {
  color: #3da5f5;
}

.highlighter-rouge .ss {
  color: #3da5f5;
}

/*# sourceMappingURL=style.css.map */