@use 'colors';

.article {
  padding: 2.5rem;
}

.article__title {
  margin: 0 0 1.5rem;
}

.article__content {
  h1::before,
  h2::before,
  h3::before,
  h4::before {
    color: colors.$kobo-gray-65;
  }

  h1::before {content: '# ';}
  h2::before {content: '## ';}
  h3::before {content: '### ';}
  h4::before {content: '#### ';}

  // make it more obvious that a highlighted code is a link
  a code {
    color: colors.$kobo-mid-blue;
  }
}
