@use 'colors';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: colors.$kobo-gray-24;
}

body {
  min-height: 100%;
  background: colors.$kobo-white;
  padding: 0;
  margin: 0;
}

html,
body,
input,
textarea,
select,
button {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

li::marker {
  color: colors.$kobo-storm;
}

a {
  color: colors.$kobo-blue;
  text-decoration: rgba(colors.$kobo-blue, 0.05) solid underline 3px;
  text-decoration-skip-ink: none;
  // text-underline-offset: -4px;
}

a:hover {
  text-decoration-color: rgba(colors.$kobo-blue, 0.5);
  text-decoration-skip-ink: auto;
  color: colors.$kobo-dark-blue;
}

a:active {
  transform: translateY(1px);
}

p,
blockquote {
  margin: 1.5rem 0;
}

p:first-child {
  margin-top: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted colors.$kobo-light-blue;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

blockquote {
  padding-left: 0.5rem;
  border-left: 2px dotted colors.$kobo-gray-40;
}

table {
  border: 1px dotted currentcolor;
  border-spacing: 0;
  border-collapse: collapse;

  tr th {
    font-weight: bold;
  }

  tr th,
  tr td {
    border: 1px dotted currentcolor;
    padding: 0.5rem;
  }

  thead tr th {
    border-style: solid;
  }
}

pre {
  overflow-x: auto;
}
