$kobo-gray-14: hsl(225, 16%, 14%); // #1e2129
$kobo-gray-24: hsl(225, 16%, 24%); // #333847
$kobo-gray-40: hsl(225, 16%, 40%); // #565e76
$kobo-gray-55: hsl(225, 16%, 55%); // #7a839f
$kobo-gray-65: hsl(225, 16%, 65%); // #979fb4
$kobo-gray-85: hsl(225, 16%, 85%); // #d3d6df
$kobo-gray-92: hsl(225, 16%, 92%); // #e7e9ee
$kobo-gray-96: hsl(225, 16%, 96%); // #f3f4f6
$kobo-gray-98: hsl(225, 16%, 98%); // #f9f9fb
$kobo-white: hsl(225, 16%, 100%); // #ffffff
$kobo-blue: hsl(206, 90%, 55%);
$kobo-blue-light: hsl(206, 90%, 60%);
$kobo-blue-pale: hsl(206, 90%, 80%);
$kobo-teal: hsl(187, 70%, 45%);
$kobo-teal-light: hsl(187, 70%, 95%); // the row hover color
$kobo-teal-pale: hsl(187, 60%, 60%);
$kobo-red: hsl(352, 77%, 60%);
$kobo-red-pale: hsl(352, 100%, 92%);