@use "colors";

.side {
  border-right: 1px solid currentColor;
}

.side__banner {
  background-color: colors.$kobo-gray-24;
  height: 4.375rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5rem;
  
  > a {
    display: block;
    height: 2.5rem;
    border-bottom: none;
  }
  
  svg {
    height: 2.5rem;
  }
}

.side__navigation {
  padding: 1.5rem;
  
  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  ul {
    margin: 1rem 0;
    padding-left: 1rem;
  }
}

.side__footer {
  padding: 1.5rem;
}